body{
    background-color: darkgray;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh; 
}

.topicBar{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: fixed;
    top: 0;
    margin-top: 25px;
    margin-left: 20px;
}

.icon{
    width: 50px;
    height: 50px;
}

.searchBar{
    margin-top: 30px;
}



